### Student management system

Student Management System (SMS), is designed to store relational database with multiple tables. Each table will store related data, and these tables will be connected using foreign keys.
Here are tables that are used in sms.

### Tables for the Student Management System

- Students Table: Stores personal information about the students.

- Courses Table: Stores the information about the courses offered.

- Enrollments Table: Connects students to the courses they are enrolled in.

- Departments Table: Stores details about different departments.

- Professors Table: Stores information about the professors who teach courses.

- Grades Table: Stores grades for students in different courses.

Students Table

- This table will store information about each student, such as their name, date of birth, and department.

In [10]:
%load_ext sql
%sql sqlite:///students.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

Students Table

- This table will store information about each student, such as their name, date of birth,Email and department.

In [ ]:
%%sql
Create table students (
    student_id INTEGER PRIMARY KEY,
    first_name varchar(50),
    last_name varchar(50),
    birth_date date,
    email varchar(100) unique
    department_id int
    foreign key (department_id) references departments(department_id)
);

Courses Table

- This table will store information about courses that are available.

In [ ]:
%%sql
create table courses (
    course_id INTEGER PRIMARY KEY,
    course_name varchar(100),
    department_id int,
    professor_id int,
    foreign key (department_id) references departments(department_id),
    foreign key (professor_id) references professors(professor_id)
);

Enrollments Table

- This table will connect students with the courses they are enrolled in. It is a many-to-many relationship because one student can enroll in multiple courses and each course can have multiple students.

In [16]:
%%sql
create table enrollments (
    enrollment_id INTEGER PRIMARY KEY,
    student_id int,
    course_id int,
    enrollment_date date,
    grade varchar(2),
    foreign key (student_id) references students(student_id),
    foreign key (course_id) references courses(course_id)
);

 * sqlite:///students.db
Done.

[]

Departments Table

- This table stores information about the different departments within the institution, such as Computer Science, Engineering, etc

In [15]:
%%sql
create table departments (
    department_id INTEGER PRIMARY KEY,
    department_name varchar(100)
);

 * sqlite:///students.db
Done.

[]

 Professors Table

- This table will store information about the professors who teach the courses.

In [18]:
%%sql
create table professors (
    professor_id INTEGER PRIMARY KEY,
    first_name varchar(50),
    last_name varchar(50),  
    department_id int,
    foreign key (department_id) references departments(department_id)
);

 * sqlite:///students.db
Done.

[]

Grades Table

- This table will store the grades that students get in each course they are enrolled in.

In [19]:
%%sql
create table grades (
    grade_id INTEGER PRIMARY KEY,
    student_id int,
    course_id int,
    grade varchar(2),
    foreign key (student_id) references students(student_id),
    foreign key (course_id) references courses(course_id)   
);

 * sqlite:///students.db
Done.

[]